.taskManagerMain {
  .content-button {
    margin-top: 0;
    margin-right: 10px;
  }
  .warn {
    background-color: var(--button-warn);
  }
  .content-wrapper-context {
    max-width: 100%;
    width: 100%;
  }
  .content-wrapper-header {
    background-image: none !important;
    padding-left: 0;
    .content-button {
      height: 40px;
      font-size: 15px;
      margin-left: 1rem;
    }
    input {
      width: 55%;
      height: 40px;
      border: none;
      background-color: var(--search-bg);
      border-radius: 4px;
      font-family: var(--body-font);
      font-size: 12px;
      font-weight: 500;
      padding: 0 10px 0 10px;
      box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
      color: var(--theme-color);
      border-color: var(--border-color);

      &::placeholder {
        font-family: var(--body-font);
        color: var(--inactive-color);
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  .content-section {
    .products {
      width: 100%;
    }
    input {
      width: 90%;
      height: 40px;
      border: none;
      background-color: var(--search-bg);
      border-radius: 4px;
      font-family: var(--body-font);
      font-size: 12px;
      font-weight: 500;
      padding: 0 10px 0 10px;
      box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
      color: var(--theme-color);

      &::placeholder {
        font-family: var(--body-font);
        color: var(--inactive-color);
        font-size: 15px;
        font-weight: 500;
      }
    }
    button {
      height: 40px;
    }
    ul {
      max-height: 60vh;
      min-height: 60vh;
      overflow: auto;
      display: inline-block;
      li {
        border-bottom: 1px solid var(--border-color);
        max-height: 4rem;
        button {
          margin: 0 1rem;
        }
        .warn {
          background-color: var(--button-warn);
        }
      }
      .content-section {
        border-bottom: 1px solid var(--border-color);
        background-color: var(--dropdown-bg);
        margin: 0;
        padding: 1rem;

        .addTaskView {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          margin-bottom: 1rem;
        }
      }

      .tasks-card {
        position: relative;
        .taskLogo {
          position: absolute;
          top: 37%;
          left: -0.8rem;
          font-size: 10px;
          border-radius: 2px;
          padding: 0px;
          border: 1px solid var(--border-color);
          background-color: var(--button-warn);
        }

        .active {
          background-color: var(--dropdown-bg);
        }
        .task-card {
          display: flex;
          align-items: center;
          font-size: 16px;
          background-color: var(--content-bg);
          border-radius: 14px;
          border: 1px solid var(--theme-bg-color);
          padding: 20px;
          cursor: pointer;
          transition: 0.3s ease;
          justify-content: space-between;
          .title {
            margin-left: 10px;
            min-width: 60%;
          }
        }
      }
    }
  }
}
