<div class="header" [class.wide]="isFocused">
  <div class="menu-circle">CONNECTS</div>
  <div class="header-menu" *ngIf="isOnline()">
    @for(menu of menuList;track $index){
    <a
      class="menu-link is-active"
      [class.is-active]="activeLinkIndex === menu.id"
      [class.notify]="menu.isNotify"
      [routerLink]="menu?.link"
      (click)="activeLinkIndex = menu.id"
      >{{ menu?.displayName }}</a
    >
    }
  </div>

  <div class="header-profile" *ngIf="isOnline()">
    <div class="notification">
      <span class="notification-number">3</span>
      <svg
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="40px"
        height="36px"
        viewBox="0 0 40 36"
        style="enable-background: new 0 0 40 36"
        xml:space="preserve"
        fill="#fff"
      >
        <g id="Page-1_4_" sketch:type="MSPage">
          <g
            id="Desktop_4_"
            transform="translate(-84.000000, -410.000000)"
            sketch:type="MSArtboardGroup"
          >
            <path
              id="Cart"
              sketch:type="MSShapeGroup"
              class="st0"
              d="M94.5,434.6h24.8l4.7-15.7H92.2l-1.3-8.9H84v4.8h3.1l3.7,27.8h0.1
			c0,1.9,1.8,3.4,3.9,3.4c2.2,0,3.9-1.5,3.9-3.4h12.8c0,1.9,1.8,3.4,3.9,3.4c2.2,0,3.9-1.5,3.9-3.4h1.7v-3.9l-25.8-0.1L94.5,434.6"
            />
          </g>
        </g>
      </svg>
    </div>
    <div class="profile-wrapper" (click)="toggleDropdown()" tabindex="0">
      <img [src]="userDetails.profilePic" alt="Profile" class="avatar" />

      <div
        class="dropdown-panel"
        *ngIf="isOpen"
        @dropdownAnim
        (click)="$event.stopPropagation()"
      >
        <div class="profile-header">
          <img [src]="userDetails.profilePic" class="profile-img" />
          <div class="info">
            <h4>{{ userDetails.name }}</h4>
            <span>{{ userDetails.email }}</span>
          </div>
        </div>

        <hr />

        <a routerLink="/profile" class="dropdown-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="18"
            height="18"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
              clip-rule="evenodd"
            />
          </svg>
          My Profile
        </a>

        <a routerLink="/settings" class="dropdown-link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
            width="18"
            height="18"
          >
            <path
              d="M12 15.5A3.5 3.5 0 1 0 12 8.5a3.5 3.5 0 0 0 0 7Zm7.5-3.5c0-.49-.057-.964-.165-1.417l2.116-1.66a.75.75 0 0 0 .128-1.06l-2-2.5a.75.75 0 0 0-1.06-.127l-2.062 1.618a7.522 7.522 0 0 0-2.443-1.004L13.5 2.75a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75L9 5.45a7.522 7.522 0 0 0-2.443 1.004L4.495 4.836a.75.75 0 0 0-1.06.127l-2 2.5a.75.75 0 0 0 .127 1.06l2.116 1.66A7.558 7.558 0 0 0 3 12c0 .49.057.964.165 1.417l-2.116 1.66a.75.75 0 0 0-.128 1.06l2 2.5a.75.75 0 0 0 1.06.127l2.062-1.618a7.522 7.522 0 0 0 2.443 1.004l.497 2.7a.75.75 0 0 0 .75.75h3a.75.75 0 0 0 .75-.75l.497-2.7a7.522 7.522 0 0 0 2.443-1.004l2.062 1.618a.75.75 0 0 0 1.06-.127l2-2.5a.75.75 0 0 0-.127-1.06l-2.116-1.66c.108-.453.165-.928.165-1.418Z"
            />
          </svg>
          Settings
        </a>

        <hr />

        <button class="btn-logout" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>
