<div class="chat-wrapper">
  <!-- Sidebar -->
  <aside class="sidebar glass" #sidebar>
    <div class="profile">
      <img [src]="userDetails.profilePic" alt="Avatar" />
      <h3>{{ userDetails.name }}</h3>
    </div>
    <ul class="contacts">
      <ng-container *ngFor="let usr of users">
        <li
          class="contact"
          *ngIf="userDetails._id !== usr._id"
          (click)="selectUser(usr)"
        >
          <img [src]="usr.profilePic" alt="Alice" />
          <div class="info">
            <h4>{{ usr.name }}</h4>
            <!-- <span>Typing...</span> -->
          </div>
        </li>
      </ng-container>
    </ul>
  </aside>

  <!-- Resizer -->
  <div class="resizer"></div>

  <!-- Main Chat -->
  <main class="chat-area glass">
    @if (selectedUser) {
    <div class="chat-header">
      <h2>{{ selectedUser.name }}</h2>
      <span>Online</span>
    </div>

    <div class="chat-messages">
      @for (message of messages; track $index) {
      <div
        class="message"
        [class.received]="userDetails._id == message.from"
        [class.sent]="userDetails._id != message.from"
      >
        {{ message.message }}
      </div>

      }
    </div>

    <div class="chat-input">
      <input
        type="text"
        placeholder="Type something..."
        [(ngModel)]="message"
      />
      <button (click)="sendMessage()">➤</button>
    </div>
    } @else { Hello }
  </main>
</div>
