@import url("../../../styles.scss");

.taskMain {
  padding: 20px;
  .taskFormView {
    width: 100%;
    min-height: 30vh;
    color: var(--theme-color);
    background-color: var(--theme-bg-color);
    height: 30vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 50vw;
    border-radius: 14px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    font-size: 15px;
    font-weight: 500;

    .formView {
      min-height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      .glassForm {
        section {
          width: 100%;
        }
        .buttonArea {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .content-section {
    ul {
      max-height: 50vh;
      overflow-y: auto;
    }
  }
}
